@model IEnumerable<BuscaCamping.DataAccess.Modelo.Reserva>

@{
    ViewBag.Title = "IndexReserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexReserva</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container table-responsive">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr class="bg-primary">
                    <th>
                        @Html.DisplayNameFor(model => model.IdReserva)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaReserva)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdCliente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdCamping)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                     
                    <th colspan="2">Acciones</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdReserva)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaReserva)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdCamping)
                        </td>
                        <td>
                            @item.estadoReserva()
                        </td>
                        <td>
    @if (@item.IsActive)
    {
    @Html.ActionLink("Cancelar", "CancelarReserva", new { idReserva = item.IdReserva }, new { onclick = "return confirm('Esta seguro de cancelarReserva?');" })
    }
    else
    {
    @Html.ActionLink("Cancelar", "CancelarReserva", new { idReserva = item.IdReserva }, new { @class = "not-active" }) ;
    }
</td>
                        <td>@Html.ActionLink("Consultar", "DetailsReserva", new { id = item.IdReserva })</td>

                    </tr>
                }

            </table>
        </div>
    </div>
</div>

<style>
    .not-active {
        pointer-events: none;
        cursor: default;
    }
</style>
