@model BuscaCamping.DataAccess.ViewModels.CampingViewModel

@{
    ViewBag.Title = "DetailsCamping";
}

<h2>@Html.DisplayFor(model => model.camping.NombreCamping)</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
      
        <dt>
            @Html.DisplayNameFor(model => model.camping.Calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.camping.Calle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.camping.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.camping.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.camping.TelFijo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.camping.TelFijo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.camping.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.camping.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.camping.NombreLocalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.camping.NombreLocalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.camping.NombreDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.camping.NombreDepartamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.camping.NombreProvincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.camping.NombreProvincia)
        </dd>

    </dl>
    </div>
<br />
<br />
<p>@Html.ActionLink("Reservar", "DetailsCamping", "Camping", null, null, null, new { id =Model.camping.IdCamping}, new { @class = "btn btn-warning" })</p> 
<br />
<br />

    <div class="container table-responsive">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr class="bg-primary">
                        
                        <th>
                            Servicio
                        </th>
                        <th>
                            Precio
                        </th>                     

                    </tr>

                    @foreach (var item in Model.ListaServicioPorCamping)
                    {
                        <tr>                           
                            <td>
                                @Html.DisplayFor(modelItem => item.DescripcionServ)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Precio)
                            </td>                           

                        </tr>
                    }

                </table>
            </div>


        </div>
    </div>

            <p>
                @*@Html.ActionLink("Modificar", "EditCamping", new { idCamping = Model.camping.IdCamping })*@
                @Html.ActionLink("Volver", "IndexCamping")
            </p>
