@model BuscaCamping.DataAccess.ViewModels.ServicioViewModel

@{
    ViewBag.Title = "SaveServPorCamp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h2>Agregar Servicios</h2>

        <hr />

        <div class="form-horizontal">

            <div class="servicios">

                <div class="form-group">
                    @Html.LabelFor(model => model.camping.IdCamping, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.camping.IdCamping, new { @readonly = true, @class = "form-control" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.camping.IdServicio, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.camping.IdServicio,
                new SelectList(Model.ListaServicio, "idServicio", "descripcion"), "Por favor seleccione una opción", new { style = "width:280px", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.camping.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.camping.Precio, new { htmlAttributes = new { @type="number", @class = "form-control" } })

                    </div>
                </div>

               

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Agregar Servicio" class="btn btn-warning" id="btnServicio" onclick="cargarServicios()" />
                    </div>
                </div>
            </div>

            </div>

            <div class="form-horizontal">

                <div id="container">
                    <div id="dataTable">
                        <h2>Servicios</h2>
                        <table id="myDataTable" class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Descripcion</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody id="lstRegistro"></tbody>
                        </table>
                    </div>
                </div>

            </div>

            <hr />
            <br />
            <br />



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Enviar a BD" class="btn btn-success" id="btnAgregar" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Volver", "IndexCamping")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@


@section scripts{
    
    <script>
        function ServicioPorCamping(idCamping, idServicio, descripcion, precio) {

            this.idCamping = idCamping;
            this.idServicio = idServicio;
            this.descripcion = descripcion;
            this.precio = precio;
        }

        var servicios = [];

        function cargarServicios() {

            var idCamping = parseInt(document.getElementById("camping_IdCamping").value);
            var idServicio = parseInt(document.getElementById("camping_IdServicio").value);
            var descripcion = document.getElementById("camping_IdServicio").options[document.getElementById("camping_IdServicio").selectedIndex].text;
            var precio = parseFloat(document.getElementById("camping_Precio").value);

            if (document.getElementById("camping_IdServicio").value == "") {
                alert('Debe elegir un servicio');
                return;
            } else if (document.getElementById("camping_Precio").value == "") {
                alert('Ingrese Precio');
                return;
            }


            var serv = new ServicioPorCamping(idCamping, idServicio, descripcion, precio);

            for (var i = 0; i < servicios.length; i++) {
                if (servicios[i].idServicio == serv.idServicio) {
                    alert('El servicio ya fue agregado en la lista');
                    return;
                }
            }

            if (confirm('Los datos del servicio son Correctos? \n Servicio: ' + descripcion + ' Precio: ' + precio +
                '\n Si los Datos Son correctos presione OK')) {
                servicios.push(serv);
                agregarServicio(serv);
            } else {
                return;
            }



        }


        function agregarServicio(servicio) {

            var tabla = document.getElementById("lstRegistro");
            var htmlTabla;

            for (var i = 0; i < servicios.length; i++) {
                var htmlTabla = "<tr><td>" + servicios[i].idServicio + "</td><td>" + servicios[i].descripcion + "</td><td>" + servicios[i].precio + "</td></tr>";
            }

            tabla.innerHTML += htmlTabla;


            document.getElementById("camping_IdServicio").value = "";
            document.getElementById("camping_Precio").value = "";

        }

        $(document).ready(function () {
            $("#btnAgregar").click(function () {

                //var postData = { values: servicios };
                postData = JSON.stringify({ 'values': servicios });

                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: '/Servicios/SaveServPorCamp',
                    data: postData,
                    success: function () {
                        //$('#result').html('"PassThings()" successfully called.');
                        document.forms[0].submit();
                        window.location = '@Url.Action("IndexCamping","Camping")';// Mandar a Lista de Servicios como paso el id?
                    },
                    failure: function (response) {
                        //$('#result').html(response);
                    }
                });
            });

        });
    </script>

    }